#r12,#r13,#r14 {}
.border_table {
border:1px solid black;
}

.border_left {
border-left-color:#AEC4D2;
border-left-width:1px;
border-left-style:solid;
}

.border_kiri_bottom {
border-left-color:#AEC4D2;
border-left-width:1px;
border-left-style:solid;
border-bottom-color:#AEC4D2;
border-bottom-width:1px;
border-bottom-style:solid;
}

.border_right {
border-right-color:#AEC4D2;
border-right-width:1px;
border-right-style:solid;
}

.border_right_bottom {
border-right-color:#AEC4D2;
border-right-width:1px;
border-right-style:solid;
border-bottom-color:#AEC4D2;
border-bottom-width:1px;
border-bottom-style:solid;
}

.border_right_bottom_left {
border-right-color:#AEC4D2;
border-right-width:1px;
border-right-style:solid;
border-bottom-color:#AEC4D2;
border-bottom-width:1px;
border-bottom-style:solid;
border-left-color:#AEC4D2;
border-left-width:1px;
border-left-style:solid;
}

.border_right_left {
border-right-color:#AEC4D2;
border-right-width:1px;
border-right-style:solid;
border-left-color:#AEC4D2;
border-left-width:1px;
border-left-style:solid;
}

.border_bottom {
border-bottom-color:#AEC4D2;
border-bottom-width:1px;
border-bottom-style:solid;
}

.border_top_right {
border-top-color:#AEC4D2;
border-top-width:1px;
border-top-style:solid;
border-right-color:#AEC4D2;
border-right-width:1px;
border-right-style:solid;
}
a.link-button,a.link-button:visited {
width:96px;
height:26px;
line-height:26px;
background:url('images/menu.gif') no-repeat left top #AEC4D2;
text-align:center;
display:block;
color:#244157;
text-decoration:none;
font-weight:bold;
overflow:hidden;
margin:1px;
}